# Teaching GROUP BY in SQL/MySQL

This Jupyter Notebook demonstrates the GROUP BY concept using a simple `sales` table with 12 rows.

In [ ]:

import sqlite3
import pandas as pd

# Create in-memory SQLite DB
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()

In [ ]:

cursor.execute("""
CREATE TABLE sales (
    id INT PRIMARY KEY,
    region VARCHAR(20),
    product VARCHAR(20),
    quantity INT,
    price DECIMAL(8,2)
);
""")

In [ ]:

cursor.executemany("INSERT INTO sales VALUES (?, ?, ?, ?, ?)", [
(1, 'East', 'Laptop', 3, 1200),
(2, 'East', 'Phone', 5, 800),
(3, 'East', 'Tablet', 2, 600),
(4, 'West', 'Laptop', 4, 1150),
(5, 'West', 'Phone', 6, 750),
(6, 'West', 'Tablet', 3, 620),
(7, 'North', 'Laptop', 2, 1250),
(8, 'North', 'Phone', 7, 820),
(9, 'North', 'Tablet', 4, 610),
(10, 'East', 'Laptop', 1, 1180),
(11, 'West', 'Phone', 8, 770),
(12, 'North', 'Tablet', 5, 605)
])
conn.commit()

In [ ]:

pd.read_sql("SELECT * FROM sales", conn)

### Q1. Find total quantity sold per region.
```sql
SELECT region, SUM(quantity) AS total_quantity FROM sales GROUP BY region;
```

In [ ]:
pd.read_sql("""SELECT region, SUM(quantity) AS total_quantity FROM sales GROUP BY region;""", conn)

### Q2. Find average price per product.
```sql
SELECT product, AVG(price) AS avg_price FROM sales GROUP BY product;
```

In [ ]:
pd.read_sql("""SELECT product, AVG(price) AS avg_price FROM sales GROUP BY product;""", conn)

### Q3. Find total revenue (quantity Ã— price) per region.
```sql
SELECT region, SUM(quantity*price) AS total_revenue FROM sales GROUP BY region;
```

In [ ]:
pd.read_sql("""SELECT region, SUM(quantity*price) AS total_revenue FROM sales GROUP BY region;""", conn)

### Q4. Find total quantity sold per region and product.
```sql
SELECT region, product, SUM(quantity) AS total_quantity FROM sales GROUP BY region, product;
```

In [ ]:
pd.read_sql("""SELECT region, product, SUM(quantity) AS total_quantity FROM sales GROUP BY region, product;""", conn)

### Q5. Find highest price recorded per product.
```sql
SELECT product, MAX(price) AS max_price FROM sales GROUP BY product;
```

In [ ]:
pd.read_sql("""SELECT product, MAX(price) AS max_price FROM sales GROUP BY product;""", conn)

### Q6. Find average quantity sold per product.
```sql
SELECT product, AVG(quantity) AS avg_qty FROM sales GROUP BY product;
```

In [ ]:
pd.read_sql("""SELECT product, AVG(quantity) AS avg_qty FROM sales GROUP BY product;""", conn)

### Q7. Count how many transactions each region has.
```sql
SELECT region, COUNT(*) AS num_transactions FROM sales GROUP BY region;
```

In [ ]:
pd.read_sql("""SELECT region, COUNT(*) AS num_transactions FROM sales GROUP BY region;""", conn)

### Q8. Find minimum and maximum price per region.
```sql
SELECT region, MIN(price) AS min_price, MAX(price) AS max_price FROM sales GROUP BY region;
```

In [ ]:
pd.read_sql("""SELECT region, MIN(price) AS min_price, MAX(price) AS max_price FROM sales GROUP BY region;""", conn)

### Q9. Find total revenue per region and product.
```sql
SELECT region, product, SUM(quantity*price) AS total_revenue FROM sales GROUP BY region, product;
```

In [ ]:
pd.read_sql("""SELECT region, product, SUM(quantity*price) AS total_revenue FROM sales GROUP BY region, product;""", conn)

### Q10. Find the average revenue per transaction in each region.
```sql
SELECT region, AVG(quantity*price) AS avg_revenue FROM sales GROUP BY region;
```

In [ ]:
pd.read_sql("""SELECT region, AVG(quantity*price) AS avg_revenue FROM sales GROUP BY region;""", conn)

## ðŸ“Š Visualizations of GROUP BY Results
Here we add simple matplotlib bar charts for some queries.

### Bar Chart: Total Quantity per Region

In [ ]:

import matplotlib.pyplot as plt

df = pd.read_sql("SELECT region, SUM(quantity) AS total_quantity FROM sales GROUP BY region;", conn)
df.plot(kind="bar", x="region", y="total_quantity", legend=False)
plt.title("Total Quantity per Region")
plt.ylabel("Quantity")
plt.show()

### Bar Chart: Average Price per Product

In [ ]:

df = pd.read_sql("SELECT product, AVG(price) AS avg_price FROM sales GROUP BY product;", conn)
df.plot(kind="bar", x="product", y="avg_price", legend=False, color="orange")
plt.title("Average Price per Product")
plt.ylabel("Average Price")
plt.show()

### Bar Chart: Total Revenue per Region

In [ ]:

df = pd.read_sql("SELECT region, SUM(quantity*price) AS total_revenue FROM sales GROUP BY region;", conn)
df.plot(kind="bar", x="region", y="total_revenue", legend=False, color="green")
plt.title("Total Revenue per Region")
plt.ylabel("Revenue")
plt.show()