# Students & Grades Data Analysis

In [ ]:

import mysql.connector
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="your_password",
    database="your_db"
)

students_df = pd.read_sql("SELECT * FROM students", conn)
grades_df = pd.read_sql("SELECT * FROM grades", conn)

students_df.head(), grades_df.head()

In [ ]:

df = grades_df.merge(students_df, on="student_id", how="left")
df.describe()

In [ ]:

sns.countplot(data=students_df, x="grade_level", order=students_df["grade_level"].value_counts().index)
plt.title("Number of Students per Grade Level")
plt.show()

In [ ]:

avg_scores = df.groupby("grade_level")["score"].mean().reset_index()
sns.barplot(data=avg_scores, x="grade_level", y="score")
plt.title("Average Scores per Grade Level")
plt.show()

In [ ]:

avg_course = df.groupby("course_name")["score"].mean().reset_index()
sns.barplot(data=avg_course, x="course_name", y="score")
plt.title("Average Scores per Course")
plt.xticks(rotation=45)
plt.show()

In [ ]:

avg_semester = df.groupby("semester")["score"].mean().reset_index()
sns.barplot(data=avg_semester, x="semester", y="score")
plt.title("Average Scores by Semester")
plt.show()