# Starter Notebook: Cats & Breeds (MySQL)

In [ ]:
import pandas as pd
import mysql.connector
USER, PASSWORD, HOST, DB = "root", "yourpassword", "127.0.0.1", "cats_db"
conn = mysql.connector.connect(user=USER, password=PASSWORD, host=HOST, database=DB, allow_local_infile=True)
cur = conn.cursor(); print("Connected!")

In [ ]:
# Create schema
schema = open('data/schema.sql').read()
for stmt in [s for s in schema.split(';') if s.strip()]:
    cur.execute(stmt + ';')
conn.commit(); print("Schema created.")

In [ ]:
# Load breeds
cur.execute(open('data/breeds.sql').read()); conn.commit(); print("Breeds loaded.")

In [ ]:
# Load cats via INSERTs
sql_text = open('data/cats.sql').read()
for stmt in [s for s in sql_text.split(';') if s.strip()]:
    cur.execute(stmt + ';')
conn.commit(); print("Cats loaded via INSERTs.")

In [ ]:
import pandas as pd
pd.read_sql("""SELECT c.name, c.breed, c.country, c.num_of_tricks, b.description
FROM cats c JOIN breeds b ON c.breed=b.breed LIMIT 10;""", conn)

In [ ]:
pd.read_sql("""SELECT breed, COUNT(*) AS cnt
FROM cats GROUP BY breed ORDER BY cnt DESC;""", conn)

In [ ]:
pd.read_sql("""SELECT breed, COUNT(*) AS cnt,
       RANK() OVER (ORDER BY COUNT(*) DESC) AS rnk
FROM cats GROUP BY breed;""", conn)

In [ ]:
cur.close(); conn.close(); print("Done.")