In [ ]:
import pandas as pd
import mysql.connector

# connect to MySQL
conn = mysql.connector.connect(user='root',password='password',host='127.0.0.1',database='uni_db')
cur = conn.cursor()

# Example: load students
students = pd.read_csv('data/students.csv')
print(students.head())

# Example query
query = "SELECT country, COUNT(*) FROM students GROUP BY country;"
cur.execute(query)
for row in cur.fetchall():
    print(row)

cur.close(); conn.close()