# Starter Notebook: MySQL Students

In [ ]:
import pandas as pd
import mysql.connector
USER, PASSWORD, HOST, DB = "root", "yourpassword", "127.0.0.1", "school_db"
conn = mysql.connector.connect(user=USER, password=PASSWORD, host=HOST, database=DB, allow_local_infile=True)
cur = conn.cursor(); print("Connected!")

In [ ]:
cur.execute(open('create_students.sql').read()); conn.commit(); print("Table ensured.")

In [ ]:
load_sql = """
LOAD DATA LOCAL INFILE 'data/students.csv'
INTO TABLE students
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS;
"""
try:
    cur.execute(load_sql); conn.commit(); print("CSV loaded!")
except Exception as e:
    print("If it fails, table may be loaded already or LOCAL INFILE disabled.", e)

In [ ]:
import pandas as pd
pd.read_sql("SELECT country, COUNT(*) AS cnt FROM students GROUP BY country ORDER BY cnt DESC;", conn)

In [ ]:
pd.read_sql("SELECT major, COUNT(*) AS cnt FROM students GROUP BY major ORDER BY cnt DESC;", conn)

In [ ]:
pd.read_sql("""
SELECT language, COUNT(*) AS cnt,
       RANK() OVER (ORDER BY COUNT(*) DESC) AS rnk
FROM students GROUP BY language;
""", conn)

In [ ]:
cur.close(); conn.close(); print("Done.")