# SEER Breast Cancer — GroupBy & Ranking Exploration (MySQL Version)
This notebook connects directly to a MySQL database using SQLAlchemy and pymysql.

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine

# Connection settings (update with your MySQL credentials)
USER = 'root'
PASSWORD = 'your_password'
HOST = 'localhost'
PORT = 3306
DB = 'cancer_db'

engine = create_engine(f"mysql+pymysql://{USER}:{PASSWORD}@{HOST}:{PORT}/{DB}")

def bar_plot(categories, values, title, xlabel, ylabel, rotation=45):
    plt.figure(figsize=(10, 6))
    plt.bar(categories, values)
    plt.title(title)
    plt.xlabel(xlabel)
    plt.ylabel(ylabel)
    plt.xticks(rotation=rotation)
    plt.tight_layout()
    plt.show()

## 1) Alive vs Dead counts

In [ ]:
q1 = "SELECT status, COUNT(*) AS cnt FROM seer_breast_cancer GROUP BY status ORDER BY cnt DESC;"
d1 = pd.read_sql(q1, engine)
bar_plot(d1['status'], d1['cnt'], 'Alive vs Dead', 'status', 'count', rotation=0)

## 2) Average Tumor Size by Grade

In [ ]:
q2 = "SELECT grade, AVG(tumor_size) AS avg_tumor FROM seer_breast_cancer GROUP BY grade ORDER BY avg_tumor DESC;"
d2 = pd.read_sql(q2, engine)
bar_plot(d2['grade'], d2['avg_tumor'], 'Average Tumor Size by Grade', 'grade', 'avg_tumor')